<div class="quiz-section">
    <div class="container my-container">
        <app-navbar />
        <div class="content">
            <div *ngIf="!showResults; else resultsTemplate" class="container mt-5">
                <h2>Question {{ currentQuestionIndex + 1 }}/{{ questions.length }}</h2>
                
                <!-- Display the current question -->
                <p>{{ questions[currentQuestionIndex].question }}</p>
                
                <!-- Display the options as radio buttons -->
                <div *ngFor="let option of questions[currentQuestionIndex].options">
                  <label>
                    <input
                      type="radio"
                      name="answer"
                      [value]="option"
                      [(ngModel)]="selectedAnswer"
                    />
                    {{ option }}
                  </label>
                </div>
                
                <!-- Next Button -->
                <button
                  class="btn btn-primary mt-3"
                  [disabled]="!selectedAnswer"
                  (click)="nextQuestion()"
                >
                  Next
                </button>
              </div>
              
              <ng-template #resultsTemplate>
                <div class="container mt-5">
                  <h2>Your Score: {{ getScore() }}/{{ questions.length }}</h2>
                  <button class="btn btn-success mt-3" (click)="restartQuiz()">Restart Quiz</button>
                </div>
              </ng-template>
              
        </div>
      </div>
    </div>
   